@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto" sans-serif;
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.header-list {
    list-style: none;
}

header li {
    display: inline;
}

header li a {
    text-decoration: none;
    color: #232423;
    font-size: 13px;
}

header li a:hover {
    text-decoration: underline;
}

#header-left-list {
    display: flex;
    justify-content: space-between;
    width: 110px;
    margin-left: 25px;
}

#header-right-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: auto;
    margin-right: 25px;
}

#app-icon {
    color: rgb(141, 140, 140);
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app-icon:hover {
    cursor: pointer;
    background-color:#e2e4e5b0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 50%;
}

#sign-in {
    background-color: #4285F4;
    color: white;
    width: 110px;
    height: 38px;
    border-style: none;
    border-radius: 4px;
    font-size: 15px;
}

#sign-in:hover {
    cursor: pointer;
    background-color: #4286f4d2;
}

#logo {
    width: 280px;
    margin-left: 850px;
    margin-top: 200px;
}

#search-box {
    margin-left: 700px;
    margin-top: 25px;
    position: relative;
}

#search-box input {
    width: 600px;
    height: 45px;
    border-radius: 25px;
    border-style: solid;
    border-width: thin;
    outline: none;
    background-color: white;
}
#search-box input:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

#search-box span {
    position: absolute;
    left: 16px;
    top: 11px;
    color: rgb(169, 169, 170);
}

#search-box input[type=search] {
    padding-left: 52px;
}

#search-box input[type=search]:focus {
    padding-left: 52px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

#search-buttons {
    width: 280px;
    display: flex;
    justify-content: space-between;
    margin-left: 860px;
    margin-top: 25px;
}

#search-buttons button {
    height: 35px;
    background-color: rgb(207, 206, 206, 0.15);
    border-style: none;
    width: 130px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

#search-buttons button:hover {
    border-style: solid;
    border-width: thin;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#location {
    height: 55px;
    margin-top: 247px;
    background-color: rgb(219, 219, 219, 0.7);
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #c0c0c0b6;
}

#location p {
    color: #747474;
    margin-left: 30px;
    padding-top: 20px;
    font-size: 13px;
}

footer {
    height: 65px;
    background-color: rgb(219, 219, 219, 0.7);
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

footer a {
    text-decoration: none;
    color: #747474;
    font-size: 13px;
}

footer a:hover {
    text-decoration: underline;
}

#footer-left-links {
    width: 330px;
    height: 25px;
    display: flex;
    justify-content: space-between;
}

#footer-center-links {
    width: 197px;
    height: 25px;
    display: flex;
    justify-content: space-between;
}

#footer-center-links img {
    height: 13px;
}

#footer-right-links {
    width: 220px;
    height: 25px;
    display: flex;
    justify-content: space-between;
}